<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h6>Primary Buttons</h6>
  <div class="button_wrapper">
    <button>Default</button>
    <button class="usa-button-active">Active</button>
    <button class="usa-button-hover">Hover</button>
  </div>
